@import url("./estilos/hearder.css");
@import url("./estilos/banner.css");
@import url("./estilos/carrosel.css");



:root{
    --plano-de-fundo:#ffffff;
    --cor-cabecalho: #ffffff;
    --titulo-cabecalho: #EB9B00;
    --azul-degrade: linear-gradient(#bd0fd9,#326589 160%);
    --cor-texto: rgb(0, 0, 0);
    --texto-secundario:#BD0FD9;
    --cor-texto:#ffffff;
}

body{
    background-color: var(--plano-de-fundo);
}