@import url("./estilos/header.css");


:root{
    --plano-de-fundo:#e5e2e2;
    --cor-cabecalho:#ffffff;
    --titulo-cabecalho:#EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37);
}


body{
    background-color:var(--plano-de-fundo);
}